
//    Font Family

$primary-font	: 'Poppins', sans-serif;

/*--------------------------- Color variations ----------------------*/

$primary-color	: #3c408f;
$secondary-color: #49e3ce;
$title-color	: #222222;
$text-color		: #751919;

$bg-first-color :#ff9600;
$bg-last-color: rgba(47, 0, 216, 0.548);

$white			: rgb(255, 255, 255);
$black			: #000;



