
//    Font Family

$primary-font	: 'Poppins', sans-serif;

/*--------------------------- Color variations ----------------------*/

$primary-color	: #3c408f;
$secondary-color: #49e3ce;
$title-color	: #222222;
$text-color		: #751919;

$white			: rgb(255, 255, 255);
$black			: #000;



